<fieldset>
    <h3>Feature</h3>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %><br />
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description %><br />
    <%= f.label :photo, "Photo" %><br />
    <%= f.text_field :photo %><br />
    <%= f.label :thumbnail, "Thumbnail" %><br />
    <%= f.text_field :thumbnail %><br />
</fieldset>