<fieldset>
    <h3>Place</h3>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %><br />
    <%= f.label :city, "City" %><br />
    <%= f.text_area :city %><br />
    <%= f.label :link, "Link" %><br />
    <%= f.text_field :link %><br />  
    <%= f.label :link_text, "Link text" %><br />
    <%= f.text_field :link_text %><br />
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description %><br />
</fieldset>