<p id="notice"><%= notice %></p>

<div class="albums">
<% @rounds.each do |round| %>
    <% round.albums.each do |album| %>
        <section class="albums--album">
            <div class="album--image">
                <%= image_tag(album.cover) %>
            </div>
        </section>
    <% end %>
    <% round.albums.each do |album| %>
        <div class="album--content">
            <header class="content--title">
                <h1><%= link_to "\"#{album.title}\" by #{album.band}", album_path(album) %></h1>
            </header>
            <% if album.finders != [] %>
                <% album.places.each do |place| %>
                    <div class="content--description">
                        <h4>
                            <em>found at <%= link_to place.name, place.link %> by 
                            <% place.album.finders.each do |finder| %> 
                                <%= link_to finder.name, finder_path(finder) %>
                            <% end %>
                            </em>
                        </h4>
                    </div>
                <% end %>
            <% else %>
                <% album.places.each do |place| %>
                    <div class="content--description">
                        <h4>
                            <em><%= place.teaser %></em>
                        </h4>
                    </div>
                    <ul>
                        <% album.hints.each do |hint| %>
                            <li><%= hint.name %></li>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
<div class="albums--round">
    <h3>Vinyl Treasure Hunt #<%= @rounds.count %>: <%= round.month.strftime("%B 1-8, %Y") %></h3>
</div>
<% end %>