<% number_of_rounds = @rounds.length %>
<div class="body">
    <main class="body--main">
        <div class="body--albums">
            <% @round.albums.each do |album| %>
                <section class="albums--album">
                    <%= link_to album_path(album), class: "album--link" do |link| %>
                        <div class="album--image">
                            <%= image_tag(album.cover) %>
                        </div>
                    <% end %>
                </section>
            <% end %>
        </div>
    </main>
    <% @rounds.each_with_index do |round, index| %>
        <% @gmaps_links = [] %>
        <% round.albums.each do |album|  %>
          <% album.places.each do |place| %>
            <% gmaps_link = place.address + ' ' + place.city + ' ' + place.state %>
            <% gmaps_link.gsub!(' ', '+') %>
            <% @gmaps_links << gmaps_link %>
          <% end %>
        <% end %>
        <% if round != nil %>
            <div class="body--albums">
                <% round.albums.each do |album| %>
                    <section class="albums--album">
                        <%= link_to album_path(album), class: "album--link" do |link| %>
                            <div class="album--image">
                                <%= image_tag(album.cover) %>
                            </div>
                            <div class="album--info">
                                <p><%= link_to "\"#{album.title}\" by #{album.band}", album_path(album) %></p>
                                <% album.places.each do |place| %>
                                    <em>found at <%= link_to place.name, place.link %> by 
                                    <%= link_to "#{album.find.user.first_name} #{album.find.user.last_name}", user_path(album.find.user) %>
                                    </em>
                                <% end %>
                            </div>
                        <% end %>
                    </section>
                <% end %>
            </div>
        <% else %>
            <img src="" alt="Next vinyl treasure hunt coming soon"/>
        <% end %>
    <% end %>
</div>