<% @joined = true %>
<div class="body">
    <% if @current_round == true %>
        <% found_albums = 0 %>
        <% @round.albums.each do |album| %>
            <% unless album.finder == "" || album.finder == nil %>
                <% found_albums++ %>
            <% end %>
        <% end %>
        <% if found_albums == 3 %>
            <main class="body--main current-round">
                <h1>ALL ALBUMS FOUND</h1>
                <p class="main--description">This month's vinyl treasure hunt is a wrap. Please return <%= (Date.today.beginning_of_month + 1.month).strftime("%A, %B %e") %> when the next round begins.</p>
        <% else %>
            <main class="body--main current-round">
                <h1>THE VINYL TREASURE HUNT IS ON</h1>
                <p class="main--description">It started <% if Time.zone.now.beginning_of_month.day == Time.zone.today.day %>today<% else %><%= Date.today.beginning_of_month.strftime("%A, %B %e") %><% end %>.<br> These records are hidden in local establishments we love.</p>
        <% end %>
    <% else %>
        <main class="body--main upcoming-round">
            <h1>GET READY FOR THE NEXT VINYL TREASURE HUNT</h1>
            <p class="main--description">Starting <%= (Date.today.beginning_of_month + 1.month).strftime("%A, %B %e") %>, these albums will be hidden in local establishments we love.</p>
    <% end %>
        <% if @current_round == true %>
            <div class="body--albums">
                <% @round.albums.each do |album| %>
                    <% unless album.finder == "" || album.finder == nil %>
                        <section class="albums--album moving-album">
                    <% else %>
                        <section class="albums--album moving-album" style="border-bottom: 10px solid #578280">
                    <% end %>
                        <div class="album--image">
                            <%= image_tag(album.cover) %>
                        </div>
                        <div class="album--info">
                            <p><%= "\"#{album.title}\" by #{album.band}" %></p>
                            <% unless album.finder == "" || album.finder == nil %>
                                <% album.places.each do |place| %>
                                    <em>found at <%= place.name %><br> by  <%= album.finder %>
                                    </em>
                                <% end %>
                            <% else %>
                                <% album.places.each do |place| %>
                                    <em>hidden in <%= place.city %></em>
                                <% end %>
                            <% end %>
                        </div>
                    </section>
                    <% unless album.finder == "" || album.finder == nil %>
                        <section class="albums--info">
                            <div class="info--container">
                                <div class="info--photo" style="background-image: url(<%= album.finder_photo %>); background-size: cover; background-position: 50% 50%;">
                                </div>
                                <div class="info--text found current">
                                    <% album.places.each do |place| %>
                                        <h4>found at <%= place.name %></h4>
                                        <p><%= place.description %></p>
                                        <p><a href="<%= place.link %>" target="_blank"><em><%= place.link_text %></em></a></p>
                                    <% end %>
                                </div>
                            </div>
                        </section>
                    <% else %>
                        <section class="albums--info">
                            <% album.hints.each_with_index do |hint, index| %>
                                <% if index + 1 <= Time.zone.today.day %>
                                    <div class="info-container">
                                        <div class="info--photo" style="background-image: url(<%= hint.photo %>); background-size: cover; background-position: 50% 50%;">
                                            <% unless album.hints.size == 1 %>
                                                <% unless Time.zone.today.day == 1 %>
                                                    <div class="info--button">
                                                        <% unless index == 0 %>
                                                            <div class="button--prev">
                                                                ◀
                                                            </div>
                                                        <% end %>
                                                        <div class="button--hints">
                                                            see more
                                                        </div>
                                                        <% unless index == album.hints.size - 1 %>
                                                            <% if index + 2 <= Time.zone.today.day %>
                                                                <div class="button--next">
                                                                    ▶
                                                                </div>
                                                            <% end %>
                                                        <% end %>
                                                    </div>
                                                <% end %>
                                            <% end %>
                                        </div>
                                        <%= form_tag("/albums/#{album.slug}/check", method: "get", class: "info--form") do %>
                                            <h3>Take a guess</h3>
                                            <%= image_tag("close-expand.png", class: "form--close") %>
                                            <%= label_tag(:place, "Place name") %>
                                            <%= text_field_tag(:place) %>
                                            <%= label_tag(:email, "Your email address") %>
                                            <%= text_field_tag(:email) %>
                                            <p>(We'll email you if you provide an alternate place spelling.)</p>
                                            <%= submit_tag("Submit") %>
                                        <% end %>
                                        <% if index + 1 == Time.zone.today.day || index == album.hints.size - 1 %>
                                            <div class="info--text show">
                                        <% else %>
                                            <div class="info--text">
                                        <% end %>
                                            <h4>hint no. <%= index + 1 %></h4>
                                            <p><%= hint.description %></p>
                                            <% if index + 1 == Time.zone.today.day %>
                                                <p><em>Check back tomorrow for another hint, if the album remains unfound.</em></p>
                                            <% end %>
                                            <div class="hidden">
                                                <p>Know where it's hidden?</p>
                                                <div class="info--check">
                                                    Take a guess
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </section>
                    <% end %>
                <% end %>
            </div>
        <% else %>
            <div class="body--albums">
                <% @round.albums.each do |album| %>
                    <section class="albums--album">
                        <div class="album--image">
                            <%= image_tag(album.cover) %>
                        </div>
                        <div class="album--info">
                            <p><%= "\"#{album.title}\" by #{album.band}" %></p>
                            <% album.places.each do |place| %>
                                <em>hidden in <%= place.city %></em>
                            <% end %>
                        </div>
                        <div class="album--signup">
                            <h1>Please return <%= (Date.today.beginning_of_month + 1.month).strftime("%A, %B %e") %> for hints.</h1>
                        </div>
                    </section>
                <% end %>
            </div>
        <% end %>
    </main>
    <div class="body--found-container">
        <header class="body--found-header">
            <h1>PAST ROUNDS</h1>
        </header>
        <% @rounds.each_with_index do |round, index| %>
            <% if round != nil %>
                <div class="body--albums">
                    <% round.albums.each do |album| %>
                        <section class="albums--album moving-album">
                            <div class="album--image">
                                <%= image_tag(album.cover) %>
                            </div>
                            <div class="album--info">
                                <p><%= "\"#{album.title}\" by #{album.band}" %></p>
                                <% album.places.each do |place| %>
                                    <em>found at <%= place.name %><br> by  <%= album.finder %>
                                    </em>
                                <% end %>
                            </div>
                        </section>
                        <section class="albums--info">
                            <div class="info--container">
                                <div class="info--photo" style="background-image: url(<%= album.finder_photo %>); background-size: cover; background-position: 50% 50%;">
                                </div>
                                <div class="info--text found">
                                    <% album.places.each do |place| %>
                                        <h4>found at <%= place.name %></h4>
                                        <p><%= place.description %></p>
                                        <p><a href="<%= place.link %>" target="_blank"><em><%= place.link_text %></em></a></p>
                                    <% end %>
                                </div>
                            </div>
                        </section>
                    <% end %>
                </div>
            <% else %>
                <img src="" alt="Next vinyl treasure hunt coming soon"/>
            <% end %>
        <% end %>
    </div>
</div>