<% @round.users.each do |user| %>
    <% if user == current_user %>
        <% @joined = true %>
    <% else %>
        <% @joined = false %>
    <% end %>
<% end %>
<div class="body">
    <% if @current_round == true %>
        <main class="body--main current-round">
            <h1>THE VINYL TREASURE HUNT IS ON</h1>
            <% if @joined %>
                <p>Welcome back, <%= current_user.first_name %>.</p>
            <% else %>
                <p>It started <% if Date.today.beginning_of_month == Date.today %>today<% else %><%= Date.today.beginning_of_month.strftime("%A, %B %e") %><% end %>. <a href="rounds/signup">Sign up</a> or <a href="login">login</a> to see hints.</p>
            <% end %>
    <% else %>
        <main class="body--main upcoming-round">
            <h1>GET READY FOR THE NEXT VINYL TREASURE HUNT</h1>
            <p>Starting <%= (Date.today.beginning_of_month + 1.month).strftime("%A, %B %e") %>, these albums will be hidden in local establishments we love.</p>
    <% end %>
        <% if @current_round == true %>
            <div class="body--albums">
                <% @round.albums.each do |album| %>
                    <% if @joined == true %>
                        <section class="albums--album moving-album">
                    <% else %>
                        <section class="albums--album">
                    <% end %>
                        <%= link_to album_path(album), class: "album--link" do |link| %>
                            <div class="album--image">
                                <%= image_tag(album.cover) %>
                            </div>
                            <div class="album--info">
                                <p><%= "\"#{album.title}\" by #{album.band}" %></p>
                                <% album.places.each do |place| %>
                                    <em>hidden in <%= place.city %></em>
                                <% end %>
                            </div>
                            <% if album.find %>
                                <% if album.find.user != nil %>
                                    <% if @joined == true %>
                                        <div class="album--signup">
                                            <h1>This album has been found. See details.</h1>
                                        </div>
                                    <% else %>
                                        <a href="rounds/signup">
                                            <div class="album--signup">
                                                <h1>To receive hints,<br> join the hunt</h1>
                                            </div>
                                        </a>
                                    <% end %>
                                <% else %>
                                    <% if @joined == true %>
                                        <div class="album--signup">
                                            <h1>See hints.</h1>
                                        </div>
                                    <% else %>
                                        <a href="rounds/signup">
                                            <div class="album--signup">
                                                <h1>To receive hints,<br> join the hunt</h1>
                                            </div>
                                        </a>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </section>
                <% end %>
                <% @round.albums.each do |album| %>
                    <section class="albums--info">
                        <% album.hints.each_with_index do |hint, index| %>
                            <% if index + 1 <= Date.today.day %>
                                <div class="info-container">
                                    <div class="info--photo">
                                        <%= image_tag(hint.photo) %>
                                        <% unless album.hints.size == 1 %>
                                            <% unless Date.today.day == 1 %>
                                                <div class="info--button">
                                                    <% unless index == 0 %>
                                                        <div class="button--prev">
                                                            ◀
                                                        </div>
                                                    <% end %>
                                                    <div class="button--hints">
                                                        more hints
                                                    </div>
                                                    <% unless index == album.hints.size - 1 %>
                                                        <% if index + 2 <= Date.today.day %>
                                                            <div class="button--next">
                                                                ▶
                                                            </div>
                                                        <% end %>
                                                    <% end %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                    <% if index + 1 == Date.today.day || index == album.hints.size - 1 %>
                                        <div class="info--text show">
                                    <% else %>
                                        <div class="info--text">
                                    <% end %>
                                        <h4>hint no. <%= index + 1 %></h4>
                                        <p><%= hint.description %></p>
                                        <% if index + 1 == Date.today.day %>
                                            <p><em>Check back tomorrow for another hint, if the album remains unfound.</em></p>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </section>
                <% end %>
            </div>
        <% else %>
            <div class="body--albums">
                <% @round.albums.each do |album| %>
                    <section class="albums--album">
                        <div class="album--image">
                            <%= image_tag(album.cover) %>
                        </div>
                        <div class="album--info">
                            <p><%= "\"#{album.title}\" by #{album.band}" %></p>
                            <% album.places.each do |place| %>
                                <em>hidden in <%= place.city %></em>
                            <% end %>
                        </div>
                        <% @round.users.each do |user| %>
                            <% if user == current_user %>
                                <% @joined = true %>
                            <% else %>
                                <% @joined = false %>
                            <% end %>
                        <% end %>
                        <% if @joined == true %>
                            <div class="album--signup">
                                <h1>You've joined the hunt.<br> Please return <%= (Date.today.beginning_of_month + 1.month).strftime("%A, %B %e") %> for hints.</h1>
                            </div>
                        <% else %>
                            <a href="rounds/signup">
                                <div class="album--signup">
                                    <h1>To receive hints,<br> join the hunt</h1>
                                </div>
                            </a>
                        <% end %>
                    </section>
                <% end %>
            </div>
        <% end %>
    </main>
    <div class="body--found-container">
        <header class="body--found-header">
            <h1>FOUND SOUNDS</h1>
        </header>
        <% @rounds.each_with_index do |round, index| %>
            <% @gmaps_links = [] %>
            <% round.albums.each do |album|  %>
              <% album.places.each do |place| %>
                <% gmaps_link = place.address + ' ' + place.city + ' ' + place.state %>
                <% gmaps_link.gsub!(' ', '+') %>
                <% @gmaps_links << gmaps_link %>
              <% end %>
            <% end %>
            <% if round != nil %>
                <div class="body--albums">
                    <% round.albums.each do |album| %>
                        <section class="albums--album moving-album">
                            <%= link_to album_path(album), class: "album--link" do |link| %>
                                <div class="album--image">
                                    <%= image_tag(album.cover) %>
                                </div>
                                <div class="album--info">
                                    <p><%= "\"#{album.title}\" by #{album.band}" %></p>
                                    <% album.places.each do |place| %>
                                        <em>found at <%= place.name %> by  <%= "#{album.find.user.first_name} #{album.find.user.last_name}" %>
                                        </em>
                                    <% end %>
                                </div>
                            <% end %>
                        </section>
                    <% end %>
                    <% round.albums.each do |album| %>
                        <section class="albums--info">
                            <div class="info--container">
                                <div class="info--photo">
                                    <%= image_tag(album.find.photo) %>
                                </div>
                                <div class="info--text found">
                                    <% album.places.each do |place| %>
                                        <h4><%= place.name %></h4>
                                        <p><%= place.description %></p>
                                        <p><a href="<%= place.link %>" target="_blank"><em><%= place.link_text %></em></a></p>
                                    <% end %>
                                </div>
                            </div>
                        </section>
                    <% end %>
                </div>
            <% else %>
                <img src="" alt="Next vinyl treasure hunt coming soon"/>
            <% end %>
        <% end %>
    </div>
</div>