<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>

<div class="albums">
<% @round.albums.each do |album| %>
    <section class="albums--album">
        <div class="album--image">
            <%= image_tag(album.cover) %>
        </div>
    </section>
<% end %>
<% @round.albums.each do |album| %>
    <div class="album--content">
        <header class="content--title">
            <h1><%= link_to "\"#{album.title}\" by #{album.band}", album_path(album) %></h1>
        </header>
        <% if album.finders != [] %>
            <% album.places.each do |place| %>
                <div class="content--description">
                    <h4>
                        <em>found at <%= link_to place.name, place.link %> by 
                        <% place.album.finders.each do |finder| %> 
                            <%= link_to finder.name, finder_path(finder) %>
                        <% end %>
                        </em>
                    </h4>
                </div>
                <div class="content--photo">
                    <div class="photo--background">
                    </div>
                    <div class="photo--text">
                        <%= place.description %>
                    </div>
                </div>
            <% end %>
        <% else %>
            <% album.places.each do |place| %>
                <div class="content--description">
                    <h4>
                        <em>hidden somewhere in <%= place.city %></em>
                    </h4>
                </div>
                <% album.hints.each_with_index do |hint, index| %>
                    <div class="content--photo">
                        <div class="photo--background" style="background-image: url(<%= hint.photo %>)">
                        </div>
                        <div class="photo--text">
                            <p><%= hint.description %></p>
                            <% if index == 0 %>
                                <div class="text--next">▶</div>
                            <% elsif index > 0 && Date.today.day >= album.hints.count %>
                                <div class="text--prev">◀</div>
                            <% elsif index > 0 && Date.today.day > index + 1 %>
                                <div class="text--prev">◀</div>
                                <div class="text--next">▶</div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
<% end %>
</div>
<div class="albums--round">
    <h3>Vinyl Treasure Hunt #<%= @round.id %>: <%= @round.month.strftime("%B 1-8, %Y") %></h3>
</div>