<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/aqv1ptn.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <meta name="google-site-verification" content="bv959NvytynvWSeYFBs2rN33ItkgNf18Jbr587S3Lhg" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- METADATA -->
  <title>Unfound Sounds</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Monthly vinyl treasure hunts in Lincoln, Omaha and Sioux Falls." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Unfound Sounds"/>
  <meta property="og:description" content="Monthly vinyl treasure hunts in Lincoln, Omaha and Sioux Falls."/>
  <meta property="og:url" content="http://unfoundsounds.com"/>
  <meta property="og:image" content=""/>
  <meta property='og:site_name' content="Unfound Sounds"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@unfoundsounds">
  <meta name="twitter:title" content="Unfound Sounds">
  <meta name="twitter:description" content="Monthly vinyl treasure hunts in Lincoln, Omaha and Sioux Falls.">
  <meta name="twitter:image" content="">
  
  <!-- ICONS -->
  <link href="<%= image_url("favicon.ico") %>" rel="shortcut icon">
  <link href=""         rel="apple-touch-icon" />
  <link href=""   rel="apple-touch-icon" sizes="76x76" />
  <link href="" rel="apple-touch-icon" sizes="120x120" />
  <link href="" rel="apple-touch-icon" sizes="152x152" />
  <link href="" rel="apple-touch-icon" sizes="180x180" />
</head>
<body>
<header class="header">
    <div class="header--container">
        <div class="header--logo">
            <%= link_to image_tag("unfound-sounds-logo.png"), "/", remote: true %>
        </div>
        <div class="header--title">
            <a href="/"><h1>Unfound Sounds</h1></a>
        </div>
        <nav class="header--navigation">
            <% if current_user %>
                <a href="/logout"><div class="navigation--button">
                    <h3>log out</h3>
                </div></a><a href="/users/<%= current_user.username %>/edit"><div class="navigation--button">
                    <h3>profile</h3>
                </div></a>
            <% else %>
                <a href="/login"><div class="navigation--button">
                    <h3>log in</h3>
                </div></a><a href="/signup" data-no-turbolink="true"><div class="navigation--button">
                    <h3>sign up</h3>
                </div></a>
            <% end %>
        </nav>
    </div>
</header>
<% if flash[:alert] %>
    <p id="flash_alert" class="messages alter"><%= flash[:alert] %></p>
<% end %>

<%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50684623-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
